*{
    margin-left: 0px;
    padding: 0px;
}
.box{
    margin: 5px;
    height: 100px;
    width: 100px;
    border: 2px solid;
    margin-right: 10px;
}
#box1{background-color: aqua;}

#box2{
    background-color:cornflowerblue ;
    flex-shrink: 3;
}

#box3{background-color:chocolate;}

#box4{
    background-color:chartreuse;
    flex-shrink: 0;
}

#box5{background-color: darkorange;}

#container1{
    border: 2px solid;
    height: 400px;
    width: 400px;
    background-color: lavender;
    margin: 20px;
    padding: 10px;
    display:flex;
    align-items: center;

}